body {
    background-color:#dfdfdf;
    user-select: none;
}

table, th, td {
    font-family: poppins;
    border: 1px solid black;
    border-collapse: collapse;
    padding-left: 10px;
    padding-right: 10px;
    background-color: white;
    user-select: text;
}

.center {
    margin-left: 270px;
    padding: 30px;
}

h1, p {
    font-family: poppins;
    color: #005f76;
    margin-left: 300px;
    padding-top: 50px;
}

button {
    font-family: "Poppins";
    padding: 10px 20px;
    font-size: 16px;
    color: #ffffff;
    background-color: #008080;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {background-color: #005f5f;}

button:active {background-color: #004747;}