body {
    background-color:#dfdfdf
}

table, th, td {
    font-family: poppins;
    border: 1px solid black;
    border-collapse: collapse;
    padding-left: 10px;
    padding-right: 10px;
    background-color: white;
}

.center {
    margin-left: 270px;
    padding: 30px;
}

h1, p {
    font-family: poppins;
    color: #005f76;
    margin-left: 300px;
    padding-top: 50px;
}

button {
    font-family: poppins;
    background-color: white;
    padding: 10px;
    margin: 0 40px 0 0;
    border-radius: 5px;
    color: #005f76;
}