body {
    font-family: "Poppins";
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

.logo-divider {
    border-bottom: 1px solid white;
    margin-bottom: 20px;
}

.user-box {
    background-color: #D9D9D9;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.menu-item.active:hover,
.menu-item.active {
    color: #ffffff;
    background-color: #008080;
}

.user-box img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
    vertical-align: middle;
}

.role-info {
    margin-top: 10px;
}

.main-content {
    margin-left: 250px;
    padding: 20px;
}

h1 {
    color: #005F76;
    text-align: center;
}

.file-upload {
    margin-bottom: 20px;
}

.button-container {
    display: flex;
    justify-content: space-between;
}

.button {
    background-color: #e0e0e0;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    color: #005F76;
}