body {
    font-family: "Poppins";
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    user-select: none;
}

.menu-item.active:hover,
.menu-item.active {
    color: #ffffff;
    background-color: #008080;
}

.main-content {
    margin-left: 280px;
    padding: 20px;
}

h1 {
    color: #005F76;
    margin: 50px 0;
    font-size: 38px;
}

h2 {
    color: #005F76;
    margin: 20px 0;
}

p {
    text-align: left;
    margin-bottom: 50px;
}

ol {
    margin: -30px 0 20px 20px;
}