body, html {
    margin: 0;
    padding: 0;
    font-family: Poppins;
    height: 100vh;
    overflow: hidden;
}

.menu-item.active:hover,
.menu-item.active {
    color: #ffffff;
    background-color: #008080;
}

input[type=submit] {
    font-family: Poppins;
    border-radius: 5px;
    background-color: white;
    color: #00a99d;
    font-size: 20px;
}

body {
    background-color:#dfdfdf
}

input[type=text] {
    font-family: poppins;
}

table, th, td {
    font-family: poppins;
    border: 1px solid black;
    border-collapse: collapse;
    padding: 0 10px;
    background-color: white;
}

.center {
    margin-left: 300px;
    padding: 20px;
}

h1, p, label {
    font-family: poppins;
    color: #005f76;
    padding-right: 40px;
    font-size: 20px;
}

h1 {
    font-size: 40px;
    margin-top: 50px;
}

input[type=text] {
    padding: 15px;
    width: 200px;
}

button {
    font-family: poppins;
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    color: #005f76;
}

button:hover {
    background-color: #005f76;
    color: white;
}