body, html {
    margin: 0;
    padding: 0;
    font-family: Poppins;
    height: 100vh;
    overflow: hidden;
    user-select: none;
    background-color: #dfdfdf;
}

.menu-item.active:hover,
.menu-item.active {
    color: #ffffff;
    background-color: #008080;
}

.center {
    margin-left: 280px;
    padding: 20px;
}

h1, p, label, h3 {
    color: #005f76;
    padding-right: 40px;
    font-size: 20px;
}

h1 {
    font-size: 40px;
    margin-top: 50px;
}

button,
input[type=submit] {
    font-family: Poppins;
    border-radius: 5px;
    background-color: white;
    color: #00a99d;
    font-size: 20px;
}

input[type=text] {
    font-family: Poppins;
    padding: 15px;
    width: 200px;
    float: right;
}

button,
button:hover {
    margin-top: 35px;
    padding: 10px 20px;
    border-radius: 5px;
    font-family: Poppins;
    font-size: 16px;
    color: #ffffff;
    background-color: #008080;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #005f76;
}

.sickness-search {
    border: 1px solid white;
    user-select: text;
    padding: 20px;
    width: 420px;
    border-radius: 8px;
    background-color: rgb(223, 223, 223);
}

p {
    margin-top: -5px;
}
