body {
    background-color:#dfdfdf
}

table, th, td {
    font-family: poppins;
    border: 1px solid black;
    border-collapse: collapse;
    padding-left: 10px;
    padding-right: 10px;
    background-color: white;
}

.center {
    position: absolute;
    left: 0px;
    float: left;
    padding: 50px;
}

/* TODO: Navbar Samping (styling ada di navbar/navbar.css) */